In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/stack-overflow-developer-survey-2019/survey_results_public.csv')
#df

In [3]:
df.shape

(88883, 85)

In [4]:
#df.info()

In [5]:
pd.set_option('display.max_column', 100)
# df

In [6]:
schema_df = pd.read_csv('Data/stack-overflow-developer-survey-2019/survey_results_schema.csv')
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [7]:
people = {
    "first": ["Corey", " Jane", "Jon"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["schafer@gmail.com", "JDoe@email.com", "jond@email.com"]   
}

In [8]:
people['last']

['Schafer', 'Doe', 'Doe']

In [9]:
df1 = pd.DataFrame(people)
df1

   first     last              email
0  Corey  Schafer  schafer@gmail.com
1   Jane      Doe     JDoe@email.com
2    Jon      Doe     jond@email.com

In [10]:
df1.columns

Index(['first', 'last', 'email'], dtype='object')

In [23]:
df1.columns = ['first_name', 'Last_name', 'Email']
df1

  first_name Last_name              Email
0      Corey   Schafer  schafer@gmail.com
1       Jane       Doe     JDoe@email.com
2        Jon       Doe     jond@email.com

In [24]:
# using list comprehention method
df1.columns = [x.upper() for x in df1.columns]
df1

  FIRST_NAME LAST_NAME              EMAIL
0      Corey   Schafer  schafer@gmail.com
1       Jane       Doe     JDoe@email.com
2        Jon       Doe     jond@email.com

In [25]:
df1.columns = df1.columns.str.replace("_", " ")
df1

  FIRST NAME LAST NAME              EMAIL
0      Corey   Schafer  schafer@gmail.com
1       Jane       Doe     JDoe@email.com
2        Jon       Doe     jond@email.com

In [26]:
df1.columns =[x.lower() for x in df1.columns]
# using rename method
df1.rename(columns = {'first name': 'first', 'last name': 'last'}, inplace = True)
df1

   first     last              email
0  Corey  Schafer  schafer@gmail.com
1   Jane      Doe     JDoe@email.com
2    Jon      Doe     jond@email.com

In [28]:
# update a single value
df1.loc[2] = ['Jon', 'Smith', 'js@yahoo.com']
df1

   first     last              email
0  Corey  Schafer  schafer@gmail.com
1   Jane      Doe     JDoe@email.com
2    Jon    Smith       js@yahoo.com

In [30]:
df1.loc[2, ['last', 'email']] = ['Wu', 'jWu@kjh.com']
df1

   first     last              email
0  Corey  Schafer  schafer@gmail.com
1   Jane      Doe     JDoe@email.com
2    Jon       Wu        jWu@kjh.com

In [33]:
# filter and then change one value 
filt = (df1['email'] == 'JDoe@email.com')
df1.loc[filt, 'last'] = 'Smith'
df1

   first     last              email
0  Corey  Schafer  schafer@gmail.com
1   Jane    Smith     JDoe@email.com
2    Jon       Wu        jWu@kjh.com